<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Sentiment Analysis</title>
</head>
<body>
    <form action="/" method="post">
        <textarea name="text" rows="5" cols="40"></textarea><br>
        <input type="submit" value="Analyze">
    </form>
    <h2>Sentiment: {{ sentiment }}</h2>
    <h2>Score: {{ score }}</h2>
</body>
</html>
